{:paths ["src"]
 :deps {
        io.github.kotoba-lang/coll-walk
        {:git/url "https://github.com/kotoba-lang/coll-walk.git"
         :git/sha "3607b1f5a04dcd8e8d4553ea35d3267984b1556b"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
